demo/edita/edita.ini
demo/edita/edita.edb
builtins/struc.e
demo/edita/help/mini.chm
demo/eubnf/
demo/libcurl/
demo/misc/
demo/tt/
demo/win32lib6x/
e01.exw
e03.exw
e06.exw
e07.exw
ex.err
p01.exw
docs/fasm.txt
docs/coder.html
docs/phix/phix.chm
p.ini