*.XXX linguist-vendored
*.eXXX linguist-vendored=false
*.js   linguist-detectable=false
*.htm   linguist-detectable=false
*.html   linguist-detectable=false
*.e   linguist-detectable=true
*.e   linguist-language=Euphoria
*.ex  linguist-language=Euphoria
*.exw linguist-language=Euphoria

