backup/
builtins/struc.e
demo/edita/edita.ini
demo/edita/edita.edb
demo/edita/help/mini.chm
demo/edix/parse_data.txt
demo/eubnf/
demo/arwendemo/NamedPipes.exw
demo/edita/backup/
demo/edita/edita.t0
demo/edix/edix.edb
demo/edix/edix.ini
demo/edix/edix2-3.ini
demo/edix/edix2.ini
demo/libcurl/
demo/misc/
demo/pSQLite/
demo/rosetta/A073916.exw
demo/rosetta/rc_cache/
demo/tt/
demo/wee/
demo/win32lib6x/
demo/libxlsxwriter/
demo/linuxwords.txt
demo/mergedict.exw
demo/pGUI/pdemo/pdemo.edb
demo/proper.txt
demo/rosetta/7guis/IUP/cells.c
demo/rosetta/7guis/IUP/circle_drawer.c
demo/rosetta/7guis/IUP/counter.c
demo/rosetta/7guis/IUP/crud.c
demo/rosetta/7guis/IUP/flight_booker.c
demo/rosetta/7guis/IUP/temperature_converter.c
demo/rosetta/7guis/IUP/timer.c
demo/wordlist.10000.txt
demo/words_alpha.txt

docs/coder.html
docs/ConnectNamedPipe.htm
docs/euphoria-4.0.5-html/
docs/fasm.txt
docs/phix/html/
docs/phix/normalize.css
docs/phix/phix.chm
docs/phix/phix.chw
docs/phix/phix.hhc
docs/phix/phix.hhk
docs/phix/Xphix.chm
docs/phix/Xphix.chw
demo/pGUI/pdist.ini
demo/pGUIIupCodeText.exw.cfg
demo/rosetta/Bezier.ppm
demo/rosetta/BezierQ.ppm
demo/rosetta/bresenham.ppm
demo/rosetta/Narcissistic_decimal_number.exw
demo/rosetta/popularity.html
docs/phix/src/phix.wp.2.txt
docs/phix/src/phix.wp.3.txt
docs/phix/src/phix.wp.4.txt
docs/phix/src/phix.wp.txt
test/fdbg0024/
test/fdbg0025/
test/terrorX.exw
test/test.dat
test/t58tmp.txt
e01.exw
e03.exw
e06.exw
e07.exw
p01.exw
p.ini
_TODO.TXT
blog.txt
test.d
test.factor
test.go
test.py
test.rb
ildump.txt
notes.wav
list.asm
randombw.png
test.pl
test.txt
title.png
favicon.ico
tree.png
test.wasm
p
p32
p64
p64t
ho5.bmp
got.bat
ex.err
ex.pro
sfx/phix.0.8.3.1.zip
sfx/phix.0.8.3.2.zip
sfx/phix.0.8.3.3.zip
sfx/phix.0.8.3.zip
sfx/phix.docs.0.8.3.zip
demo/rosetta/Filter_words.exw
demo/rosetta/Untouchable_numbers.exw
listd.asm
foo.txt
builtins/yahoo.html
demo/rosetta/bw.png
demo/rosetta/Circle.ppm
demo/rosetta/first.ppm
demo/rosetta/FloodIn.ppm
demo/rosetta/FloodOut.ppm
demo/rosetta/LenaBW.ppm
demo/rosetta/LenaGray.ppm
demo/rosetta/Lenapipe.ppm
demo/rosetta/sierpinski_square_curve.svg
demo/rosetta/test.bmp
demo/rosetta/test.jpg
demo/rosetta/test.pcx
demo/rosetta/test.png
demo/rosetta/test.tiff
demo/rosetta/war_of_the_worlds.txt
e01.exw.bz2
e01.xxw.bz2
e06.xxw
e06.xxw.bz2
tamagotchi.go
wikidump.bz2
demo/edix/edix.dead.edb
demo/edix/erdix.edb
ctrace.out
demo/pGUI/test.exw
demo/qchat/
demo/qchat_phix.zip
demo/pGUI/test.exw
go.mod
sfx/phix.1.0.0.1.zip
sfx/phix.1.0.0.2.zip
sfx/phix.1.0.0.3.zip
sfx/phix.1.0.0.zip
sfx/phix.docs.1.0.0.zip
demo/libzmq.zip
demo/libzmq/
phix.1.0.0.1.tmp
sfx/phix.1.0.0.txt
bench/arwen.ew
bench/bench.edb
bench/benchtst.exw
bench/classes.ew
bench/constants.ew
bench/file.e
bench/dll.e
bench/dll_links.ew
bench/imagelists.ew
bench/machine.e
bench/message_box.ew
BSplineplot.png
bench/misc.e
bench/misc_arwen.e
bench/Quick_Allocations.ew
bench/structures.ew
bench/wildcard.e
bench/sort.e
demo/arwendemo/pgui/pgui.edb
demo/pGUI/inputtest.iup
demo/rosetta/backup.0001/
demo/rosetta/rcre.html
rcre.exw
rcre_test.exw
readme.txt
rest.php
rogers.txt
pwa/98.css
pwa/crap2js.cfg
pwa/js2js.js
pwa/julia_pdi.png
pwa/mpfr.js
pwa/mpfr2.js
pwa/p2js.2382.exw
pwa/p2js.cfg
pwa/p2js.exw.cfg
pwa/p2js.ini
pwa/rc_pop.txt
pwa/reset.css
pwa/run_examples.png
pwa/test.exw
pwa/test.htm
pwa/test.html
pwa/wren_pdi.png
pwa/builtins/dict.js
pwa/builtins/glmath.js
pwa/builtins/pApply.js
pwa/builtins/pcase.js
pwa/builtins/pextract.js
pwa/builtins/pfactors.js
pwa/builtins/pflatten.js
pwa/builtins/psqop.js
pwa/builtins/punique.js
pwa/builtins/sort.js
pwa/builtins/substitute.js
pwa/builtins/timedate.js
pwa/builtins/unit_test.js
pwa/builtins/utfconv.js
pwa/c/jsmin.c
pwa/js/parse.js
pwa/js/poc/BigRational.js
pwa/js/poc/BigInteger.js
pwa/js/poc/build.css
pwa/js/poc/build.html
pwa/js/poc/build.js
pwa/js/poc/glsim.js
pwa/js/poc/griddemo.js
pwa/js/poc/grid.js
pwa/js/poc/grid.html
pwa/js/poc/jqmenu.htm
pwa/js/poc/jqmenu2.htm
pwa/js/poc/ratio/index.js
pwa/js/poc/ratio/ratio.htm
pwa/js/poc/ratio/ratio.js
pwa/js/poc/src/test.exw
pwa/js/poc/order.html
pwa/js/poc/processing.js
pwa/js/poc/pwa0.php
pwa/js/poc/ServerTime.php
pwa/phix/budget/
pwa/src/actual.exw
pwa/src/actual.js
pwa/src/test001.exw
pwa/src/test001.js
pwa/src/test003.exw
