/*
 * Define the widths: play around with these 
 * to get a best fit.
 */
/*
 * Basic styles, good for a large display. Everything fits in
 * one row, no wrapping. All text based cells grow equally.
 */
body {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}   
.table-row {
  display: flex;
  flex-direction: row;
/*  flex-wrap: no-wrap;*/
/*  width: 100%; */
  padding-left: 15px;
  padding-right: 15px;
}
.wrapper {
  display: flex;
  flex-direction: row;
}
.column {
  flex-grow: 0;
  flex-shrink: 0;
  vertical-align: top;
}
.index {
  width: 25px;
}
.title {
  width: 220px;
}
.module {
  width: 110px;
}
.reporter {
  width: 85px;
}
.status {
  width: 95px;
}
.owner {
  width: 75px;
}
.severity {
  width: 80px;
}
.watch,
.add-comment {
  width: 18px;
}
.date {
  width: 110px;
}
.index {
  text-align: center;
}
.title {
  font-weight: bold;
  color: #337AB5;
}
.comment {
  width: 120px;
}
.title,
.comment {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 4px;
}
.date {
  width: 110px;
  text-align: right;
  padding-right: 4px;
}
/* growable wrappers */
.title-comment,
.title-comment-module-reporter,
.attributes {
  flex-grow: 1;
}
/*
 * Media queries: optimize for different screen widths.
 */
/*
 * Media breaks.
 */
@media all and (max-width: 1236px) {
  .title-comment {
    flex-direction: column;
    width: 220px;
  }
  .title-comment div {
    flex-grow: 0;
  }
  .title-comment > div {
    width: 100%;
  }
  .module-reporter,
  .status-owner {
    flex-direction: column;
  }
  .module-reporter div,
  .status-owner div {
    flex-grow: 0;
  }
}
@media all and (max-width: 956px) {
  .module-reporter {
    flex-direction: row;
  }
  .title-comment-module-reporter {
    flex-direction: column;
    width: 220px;
  }
  .title-comment-module-reporter div {
    flex-grow: 0;
  }
  .title-comment-module-reporter > div {
    width: 100%;
  }
  .status-owner-severity {
    flex-direction: column;
  }
  .status-owner-severity div {
    flex-grow: 0;
  }
  .icons {
    flex-direction: column;
  }
  .icons div {
    flex-grow: 0;
  }
  .dates {
    flex-direction: column;
  }
  .dates div {
    flex-grow: 0;
  }
}
@media all and (max-width: 528px) {
  .table-row {
    padding-left: 4px;
    padding-right: 4px;
  }
  .attributes {
    flex-direction: column;
    width: 220px;
  }
  .attributes div {
    flex-grow: 0;
  }
  .attributes > div {
    width: 100%;
  }
  .module-reporter,
  .status-owner {
    flex-direction: row;
  }
}
/*
 * General good-look styles
 */
.table-row {
  border-bottom: 1px solid #e0e0e0;
  border-collapse: collapse;
  padding-top: 2px;
}
.table-row.header {
  background-color: #FFEEDB;
  font-weight: bold;
  padding-top: 6px;
  padding-bottom: 6px;
}
.glyphicon {
  color: #DDDDDD;
}
.header .glyphicon {
  color: #333;
}
.glyphicon-eye-open.active {
  color: blue;
}
.glyphicon-comment.active {
  color: #3EBB0D;
}
.glyphicon:hover {
  color: #666;
  cursor: pointer;
  text-decoration: underline;
}
.reporter {
  color: #999999;
}
.comment {
  font-style: italic;
}
.severity.high {
  color: red;
}
.severity.medium {
  color: blue;
}
.severity.low {
  color: green;
}
